<html>

<body bgcolor="#c8d8f8">
    <h1>
        Obrigado pelas informações <i>{{name}}</i> de <i>{{age}}</i> anos.
    </h1>
    <h1>
        <i>{{notify}}</i> estaremos lhe mandando informações sobre <i>{{languages}}</i>
        <br> no seu email: <i>{{email}}</i>
    </h1>
</body>

</html>